<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baidumapmirror">

    <application
        android:label="百度地图镜像"
        android:icon="@android:drawable/ic_menu_rotate">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="将百度地图界面水平镜像翻转" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:value="com.baidu.BaiduMap" />

    </application>
</manifest>
